<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="voiceMenu" role="button"
       data-bs-toggle="dropdown" aria-expanded="false">
      📁 Voice
    </a>
    <ul class="dropdown-menu" aria-labelledby="voiceMenu">
      <li class="dropdown-submenu">
        <a class="dropdown-item dropdown-toggle" href="#">Rtu 19</a>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'voice:rtu19SrcDays' %}">SrcMinutsDays19</a></li>
            <li><a class="dropdown-item" href="{% url 'voice:rtu19DstDays' %}">DstMinutsDays19</a></li>
        </ul>
     </li>

     <li class="dropdown-submenu">
        <a class="dropdown-item dropdown-toggle" href="#">Rtu 26</a>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'voice:rtu26SrcDays' %}">SrcMinutsDays26</a></li>
            <li><a class="dropdown-item" href="{% url 'voice:rtu26DstDays' %}">DstMinutsDays26</a></li>
        </ul>
     </li>

     <li class="dropdown-submenu">
        <a class="dropdown-item dropdown-toggle" href="#">Rtu NEW 1</a>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'voice:rtuNew1SrcDays' %}">SrcMinutsDaysNew1</a></li>
            <li><a class="dropdown-item" href="{% url 'voice:rtuNew1DstDays' %}">DstMinutsDaysNew1</a></li>
        </ul>
     </li>


     <li class="dropdown-submenu">
        <a class="dropdown-item dropdown-toggle" href="#">Rtu NEW 2</a>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'voice:rtuNew2SrcDays' %}">SrcMinutsDaysNew2</a></li>
            <li><a class="dropdown-item" href="{% url 'voice:rtuNew2DstDays' %}">DstMinutsDaysNew2</a></li>
        </ul>
     </li>



     <li class="dropdown-submenu">
        <a class="dropdown-item dropdown-toggle" href="#">Rtu Cb</a>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'voice:rtuCbSrcDays' %}">SrcMinutsDaysCb</a></li>
            <li><a class="dropdown-item" href="{% url 'voice:rtuCbDstDays' %}">DstMinutsDaysCb</a></li>
        </ul>
     </li>




    </ul>
  </li>
  