{% extends 'base.html' %}

{% block title %}Реестр договоров{% endblock %}

{% block content %}
<h2>📁 Реестр договоров</h2>
<div class="mb-3">
    <div class="mb-3">
        <button id="export-btn" class="btn btn-success">📥 Экспорт в Excel</button>
    </div>
    <a href="{% url 'reestr_add' %}" class="btn btn-primary">➕ Добавить</a>
</div>
<table id="reestr-table" class="table table-bordered table-striped table-sm datatable">
    <thead class="table-light">
        <tr>
            <th>ID</th>
            <th>Service ID</th>
            <th>Revenue Type</th>
            <th>Contractor</th>
            <th>Contract Number</th>
            <th>Sign Date</th>
            <th>Subject</th>
            <th>Code</th>
            <th>Type</th>
            <th>Status</th>
        </tr>
        
    </thead>
    <tbody>
        {% for row in reestr %}
        <tr>
            <td>{{ row.id }}</td>
            <td>{{ row.service_id }}</td>
            <td>{{ row.revenue_type }}</td>
            <td>{{ row.contractor }}</td>
            <td>{{ row.contract_number }}</td>
            <td>{{ row.sign_date|date:"d.m.Y" }}</td>
            <td>{{ row.subject }}</td>
            <td>{{ row.kbk }}</td>
            <td>{{ row.type }}</td>
            <td>{{ row.status }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}


