{% extends 'base.html' %}

{% block title %}Список Alfa-номеров{% endblock %}

{% block content %}
<h2 class="mt-3 mb-4">🅰️ Список Alfa-номеров</h2>
<div class="mb-3">
  <button id="export-btn" class="btn btn-success">📥 Экспорт в Excel</button>
</div>  

<div class="mb-4">
  <a href="{% url 'sms_blinoff:add_alfa' %}" class="btn btn-success">
    ➕ Добавить Alfa-номер
  </a>
</div>

<div class="table-responsive">
  <table id="alfa-table" class="table table-bordered table-striped table-sm datatable">
    <thead class="table-light">
      <tr>
        <th>ID</th>
        <th>Alfa Name</th>
        <th>Mother Name</th>
        <th>Price</th>
        <th>Currency</th>
        <th>Fee</th>
        <th>Start</th>
        <th>End</th>
        <th>Created</th>
      </tr>
    </thead>
    <tbody>
      {% for a in alfa_list %}
        <tr>
          <td>{{ a.id }}</td>
          <td>{{ a.alfa_name }}</td>
          <td>{{ a.mother_name }}</td>
          <td>{{ a.price }}</td>
          <td>{{ a.currency }}</td>
          <td>{{ a.fee }}</td>
          <td>{{ a.data_start }}</td>
          <td>{{ a.data_end }}</td>
          <td>{{ a.data_created }}</td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="9" class="text-center">Нет записей</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

 
>
</div>
{% endblock %}
