{% extends 'base.html' %}

{% block title %}Paymed Sms{% endblock %}

{% block content %}
<h2 class="mt-3 mb-4">📋 список  Оплаченные  SMS </h2>

<div class="mb-3">
  <button id="export-btn" class="btn btn-success">📥 Экспорт в Excel</button>
</div>



<div class="mb-4">

    ➕ Добавить Service
  </a>
</div>

<div class="table-responsive">
  <table id="services-table" class="table table-bordered table-striped table-sm datatable">
    <thead class="table-light">
      <tr>
        <th>ID</th>
        <th>TRANK ID</th>
        <th>сумма в руб </th>
        <th>дата платежа</th>
        <th>кол-во смс</th>
        <th>название транка </th>
      
      </tr>
    </thead>
    <tbody>
      {% for s in payments %}
      <tr>
        <td>{{ s.id }}</td>
        <td>{{ s.comp_id }}</td>
        <td>{{ s.amount }}</td>
        <td>{{ s.date_payment }}</td>
        <td>{{ s.amount_sms }}</td>
        <td>{{ s.company_name }}</td>
        
    </tr>
      {% empty %}
      <tr><td colspan="10" class="text-center">Нет записей</td></tr>
      {% endfor %}
    </tbody>
  </table>
  <button class="btn btn-success mb-3" onclick="exportToExcel()">
    📥 Экспорт в Excel
  </button>

</div>

{% endblock %}
